<div id="index">
  <h1 class="logo">Two Tablespoons</h1>
  <h2 class="subLogo">Try New Recipes <br>Save The Ones You Love</h2>
  <div class="buttonsDiv">
    <a class="waves-effect waves-light btn-large button loginLoad" href="/signin"><i class="material-icons right">person</i>Login</a>
    <a class="waves-effect waves-light btn-large button signupLoad" href="/signup"><i class="material-icons right">person_add</i>Signup</a>
  </div>
</div>  