  <div id="triedPage">
    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper teal lighten-2">
          <ul class="right hide-on-med-and-down">
            <li><a href="/logout">Logout</a></li>
          </ul>
        </div>
      </nav>
    </div>
    <h2 class="logo">Relax with a favorite.</h2>
    <div class="tryCards row">
      {{#each recipes}}
        {{#if tried}}
          {{> recipes/toTry-block}}
        {{/if}}
      {{/each}}
    </div>
    <div class="buttonsDiv">
      <a href="/dashboard" class="waves-effect waves-light btn-large button addPageLoad"><i class="material-icons right">home</i>Home</a>
      <a href="#toTryPage" class="waves-effect waves-light btn-large button toTryPageLoad"><i class="material-icons right">kitchen</i>Recipes to Try</a>
    </div>
  </div>