<body>
<div id="signInPage">
  <h1 class="logo">Two Tablespoons</h1>
  <form id="signin" name="signin" method="post" action="signin">
    <div class="form-group black-text">
      <div class="input-field teal lighten-4">
        <label for="email">Email Address</label>
        <input class="text" name="email" type="text" />
      </div>
      <div class="input-field teal lighten-4">
        <label for="password">Password</label>
        <input name="password" type="password" />
      </div>
      <div class="buttonsDiv">
        <button type="submit" class="waves-effect waves-light btn-large button">
          <input class="btnInputHack" type="submit" value="Sign In" />
        </button>
      </div>
    </div>
  </form>
</div>
</body> 