@font-face {
  font-family: Logo;
  src: url("../fonts/recipeLogo.ttf")
}

@font-face {
  font-family: Body;
  src: url("../fonts/recipeBody.ttf")
}

#index {
  background-image: url("../images/recipeBackground.jpg");
  background-size: 100% 100%;
  height:100vh;
  width:100vw;
  position:absolute;
  top:0;
  left:0;
  right:0;
}

#signInPage {
  background-image: url("../images/recipeBackground.jpg");
  background-size: 100% 100%;
  height:100vh;
  width:100vw;
  position:absolute;
  top:0;
  left:0;
  right:0;
}

#signin {
  width:40vw;
  margin:auto;
}

#signUpPage {
  background-image: url("../images/recipeBackground.jpg");
  background-size: 100% 100%;
  height:100vh;
  width:100vw;
  position:absolute;
  top:0;
  left:0;
  right:0;
}

#signup {
  width:40vw;
  margin:auto;
}

#lander {
  background-image: url("../images/recipeBackground.jpg");
  background-size: 100% 100%;
  height:100vh;
  width:100vw;
  position:absolute;
  top:0;
  left:0;
  right:0;
}

nav {
  opacity: .75;
}

.logo {
  font-family: Logo;
  font-size: 5em;
  font-weight: bold;
  color:white;
  text-shadow: black 1px 2px;
  text-align: center;
  margin-top:15vh;
}

.subLogo {
  font-family: Body;
  font-size: 3em;
  font-weight: bold;
  color:white;
  text-shadow: black 1px 2px;
  text-align: center;
  margin-bottom:10vh;
}

.subLogoInverse {
  font-family: Logo;
  font-size: 3em;
  font-weight: bold;
  color:black;
  text-shadow: white 1px 2px;
  text-align: center;
  margin-bottom:5vh;
  padding-top:5vh;
}

.midpageJumbo {
  font-family:Body;
  position:relative;
  top:15vh;
  width:60vw;
  margin:auto;
  opacity:.95;
}

.create-form {
  width:40vw;
  margin:auto;
}

.input-field input:focus + label {
  color: teal !important;
}

.buttonsDiv {
  text-align:center;
  margin:auto;
  padding-bottom:2vh;
  margin-top:1.5vh;
}

.button {
  margin-left:1.5vw;
  margin-right:1.5vw;
}

#addOne {
  font-family: Body;
  position: absolute;
  top:100vh;
  left:0;
  right:0;
  height:100vh;
  width:100vw;
  background-image: url("../images/addbackground.jpg");
  background-size: 100% 100%;
}

#toTryPage {
  font-family: Body;
  text-align: center;
  position: absolute;
  top:0vh;
  left:0;
  right:0;
  width:100vw;
  min-height:100vh;
  height:auto;
  background-image: url("../images/longBackground.jpg");
  background-size: 100vw auto;
}

.btn-small {
  margin-top:1vh;
  margin-bottom:1vh;
}

#triedPage {
  font-family: Body;
  text-align: center;
  position: absolute;
  top:0;
  left:0;
  right:0;
  width:100vw;
  min-height:100vh;
  height:auto;
  background-image: url("../images/longBackground.jpg");
  background-size: 100vw auto;
}